USE [US_TimesheetPortal]
GO
/****** Object:  Table [dbo].[_UserImport_]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_UserImport_](
	[DataSource] [nvarchar](50) NULL,
	[SAM_AcctName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[First_Name] [nvarchar](50) NULL,
	[Middle_Name] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NULL,
	[CountryCode] [nvarchar](50) NULL,
	[Department] [nvarchar](100) NULL,
	[Department_ID] [nvarchar](50) NULL,
	[JobGrade] [nvarchar](50) NULL,
	[Manager_SAM] [nvarchar](50) NULL,
	[Submitted_BY] [nvarchar](50) NULL,
	[Submitted_SAM] [nvarchar](50) NULL,
	[IsMgr] [varchar](1) NULL,
	[IsTO] [varchar](1) NULL,
	[IsITExec] [varchar](1) NULL,
	[IsAccounting] [varchar](1) NULL,
	[IsProjAdmin] [varchar](1) NULL,
	[IsTSAdmin] [varchar](1) NULL,
	[Note] [nvarchar](500) NULL,
	[IsOK] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Title] [varchar](100) NULL,
	[JobGradeId] [int] NULL,
	[DeptCode] [varchar](10) NULL,
	[CountryCode] [char](3) NULL,
	[ManagerID] [int] NULL,
	[EmailAlert] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeActivityMap]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeActivityMap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_EmployeeActivityMap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_EmployeeRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enum]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[KeyVal] [varchar](15) NOT NULL,
	[TextVal] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[OrderSeq] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[TypeId] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ProdDate] [datetime] NULL,
	[EstHrs] [int] NULL,
	[PIRNum] [varchar](20) NULL,
	[CountryCode] [char](3) NULL,
	[RequestBy] [varchar](500) NULL,
	[StatusId] [int] NULL,
	[StatusDate] [datetime] NULL,
	[IsPredefined] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectActivity]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectActivity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTeam]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTeam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DeptCode] [varchar](10) NULL,
	[ManagerId] [int] NULL,
	[OwnerId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamEmployee]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamEmployee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_TeamEmployee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[ActivityDate] [date] NOT NULL,
	[Hours] [decimal](18, 2) NOT NULL,
	[Description] [varchar](5000) NULL,
	[SourceId] [int] NULL,
	[SubmissionId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_TimeSheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheetSubmission]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheetSubmission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PeriodCode] [varchar](10) NOT NULL,
	[StatusId] [int] NOT NULL,
	[StatusDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
 CONSTRAINT [PK_TimeSheetSubmission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowHistory]    Script Date: 10/9/2021 11:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowId] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[StatusBy] [varchar](50) NOT NULL,
	[StatusDate] [datetime] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[PrevHistoryId] [int] NOT NULL,
	[IsCurrent] [bit] NULL,
 CONSTRAINT [PK_WorkflowHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[_UserImport_] ([DataSource], [SAM_AcctName], [Email], [First_Name], [Middle_Name], [Last_Name], [CountryCode], [Department], [Department_ID], [JobGrade], [Manager_SAM], [Submitted_BY], [Submitted_SAM], [IsMgr], [IsTO], [IsITExec], [IsAccounting], [IsProjAdmin], [IsTSAdmin], [Note], [IsOK]) VALUES (N'Original', N'Serhiyp', N'Serhiy.Pavlov@evopayments.com', N'Serhiy', NULL, N'Pavlov', N'ESP', N'706 Front-End Processing Operations', N'706', N'10', N'', N'Steve Pracilio', N'stevep', NULL, NULL, NULL, NULL, NULL, NULL, N'No SAM', N'N')
INSERT [dbo].[_UserImport_] ([DataSource], [SAM_AcctName], [Email], [First_Name], [Middle_Name], [Last_Name], [CountryCode], [Department], [Department_ID], [JobGrade], [Manager_SAM], [Submitted_BY], [Submitted_SAM], [IsMgr], [IsTO], [IsITExec], [IsAccounting], [IsProjAdmin], [IsTSAdmin], [Note], [IsOK]) VALUES (N'Original+CN_MX_CA', N'Craig.Lehtovaara', N'clehtovaara@delegopayments.com', N'Craig', N'Thomas', N'Lehtovaara', N'CAN', N'723 Delego IT', N'723', N'11', N'', N'Craig Lehtovaara', N'Craig.Lehtovaara', NULL, N'Y', NULL, NULL, NULL, NULL, NULL, N'Y')
INSERT [dbo].[_UserImport_] ([DataSource], [SAM_AcctName], [Email], [First_Name], [Middle_Name], [Last_Name], [CountryCode], [Department], [Department_ID], [JobGrade], [Manager_SAM], [Submitted_BY], [Submitted_SAM], [IsMgr], [IsTO], [IsITExec], [IsAccounting], [IsProjAdmin], [IsTSAdmin], [Note], [IsOK]) VALUES (N'Original+CN_MX_CA', N'Hani.Hassanain', N'hhassanain@delegopayments.com', N'Hani', N'Mohammed Moein', N'Hassanain', N'CAN', N'723 Delego IT', N'723', N'4', N'', N'Craig Lehtovaara', N'Craig.Lehtovaara', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Y')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [UserID], [FirstName], [LastName], [DisplayName], [Email], [Title], [JobGradeId], [DeptCode], [CountryCode], [ManagerID], [EmailAlert], [IsActive], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy]) VALUES (1, N'Serhiyp', N'Serhiy', N'Pavlov', N'Serhiy Pavlov', N'Serhiy.Pavlov@evopayments.com', N'Technical Architect', 10, N'706', N'ESP', -1, 0, 1, CAST(N'2021-10-08T17:55:21.523' AS DateTime), N'system', CAST(N'2021-10-08T17:55:21.523' AS DateTime), N'system')
INSERT [dbo].[Employee] ([Id], [UserID], [FirstName], [LastName], [DisplayName], [Email], [Title], [JobGradeId], [DeptCode], [CountryCode], [ManagerID], [EmailAlert], [IsActive], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy]) VALUES (2, N'Craig.Lehtovaara', N'Craig', N'Lehtovaara', N'Craig Lehtovaara', N'clehtovaara@delegopayments.com', N'Senior Director, Software', 11, N'723', N'CAN', -1, 0, 1, CAST(N'2021-10-08T17:55:21.523' AS DateTime), N'system', CAST(N'2021-10-08T17:55:21.523' AS DateTime), N'system')
INSERT [dbo].[Employee] ([Id], [UserID], [FirstName], [LastName], [DisplayName], [Email], [Title], [JobGradeId], [DeptCode], [CountryCode], [ManagerID], [EmailAlert], [IsActive], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy]) VALUES (3, N'Hani.Hassanain', N'Hani', N'Hassanain', N'Hani Hassanain', N'hhassanain@delegopayments.com', N'Engineer, Development', 4, N'723', N'CAN', -1, 0, 1, CAST(N'2021-10-08T17:55:21.523' AS DateTime), N'system', CAST(N'2021-10-08T17:55:21.523' AS DateTime), N'system')
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Enum] ON 

INSERT [dbo].[Enum] ([Id], [Name], [KeyVal], [TextVal], [Description], [ParentId], [OrderSeq]) VALUES (1, N'ExpenditureTypeId', N'1', N'Expense', N'Accounting Expense Type of Expenditure', 0, 10)
INSERT [dbo].[Enum] ([Id], [Name], [KeyVal], [TextVal], [Description], [ParentId], [OrderSeq]) VALUES (2, N'ExpenditureTypeId', N'2', N'Capital', N'Accounting Capital Type of Expenditure', 0, 20)
INSERT [dbo].[Enum] ([Id], [Name], [KeyVal], [TextVal], [Description], [ParentId], [OrderSeq]) VALUES (4, N'ProjectTypeId', N'1', N'New Development', NULL, 2, 10)
SET IDENTITY_INSERT [dbo].[Enum] OFF
GO
/****** Object:  Index [UK_EmployeeActivityMap]    Script Date: 10/9/2021 11:43:15 PM ******/
ALTER TABLE [dbo].[EmployeeActivityMap] ADD  CONSTRAINT [UK_EmployeeActivityMap] UNIQUE NONCLUSTERED 
(
	[ProjectId] ASC,
	[ActivityId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_EmployeeRole]    Script Date: 10/9/2021 11:43:15 PM ******/
ALTER TABLE [dbo].[EmployeeRole] ADD  CONSTRAINT [UK_EmployeeRole] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_ProjectActivity]    Script Date: 10/9/2021 11:43:15 PM ******/
ALTER TABLE [dbo].[ProjectActivity] ADD  CONSTRAINT [UK_ProjectActivity] UNIQUE NONCLUSTERED 
(
	[ProjectId] ASC,
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_ProjectTeam]    Script Date: 10/9/2021 11:43:15 PM ******/
ALTER TABLE [dbo].[ProjectTeam] ADD  CONSTRAINT [UK_ProjectTeam] UNIQUE NONCLUSTERED 
(
	[ProjectId] ASC,
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_TeamEmployee]    Script Date: 10/9/2021 11:43:15 PM ******/
ALTER TABLE [dbo].[TeamEmployee] ADD  CONSTRAINT [UK_TeamEmployee] UNIQUE NONCLUSTERED 
(
	[TeamId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SPU_Employee_Find]    Script Date: 10/9/2021 11:43:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************
* PROCEDURE:  [SPU_Employee_Find]
* DESCRIPTION:  Find Employees based on searching tokens
* CREATED: [10/2021]
* BY: [PCHEN] 
MODIFICATION HISTORY
* DATE 		BY		DESCRIPTION 
*************************************************************/
CREATE PROCEDURE [dbo].[SPU_Employee_Find] 
	@Name NVARCHAR(100) = NULL,
	@Title VARCHAR(100) = NULL,
	@ManagerId INT = -1,
	@DeptCode VARCHAR(10) = NULL,
	@CountryCode CHAR(3) = NULL,
	@JsonExtras NVARCHAR(MAX) = NULL
AS
SET NOCOUNT ON
-- Convert Json Extra parameters into memeory table
/*
DECLARE @JsonExtras NVARCHAR(MAX)
	='{"deptcodes": [723], "countrycodes":["USA", "CHN"]}';
SELECT 'extra', * FROM OPENJSON(@JsonExtras)
SELECT 'deptcodes', * FROM OPENJSON(@JsonExtras, '$.deptcodes')
SELECT 'countrycodes', * FROM OPENJSON(@JsonExtras, '$.countrycodes')

*/
DECLARE @extra TABLE (
	Name nvarchar(4000), 
	Value nvarchar(max), 
	Type tinyint)
DECLARE @deptcodes_t TABLE (
	deptcode VARCHAR(20));
DECLARE @deptcodes_cnt INT;
DECLARE @countrycodes_t TABLE (
	countrycode VARCHAR(20));
DECLARE @countrycodes_cnt INT;

IF (ISJSON(@JsonExtras)>0)
BEGIN
	INSERT INTO @extra (Name, Value, Type)
		SELECT * FROM OPENJSON(@JsonExtras)
	INSERT INTO @deptcodes_t
		SELECT value FROM OPENJSON(@JsonExtras, '$.deptcodes')
	SET @deptcodes_cnt = @@ROWCOUNT

	INSERT INTO @countrycodes_t
		SELECT value FROM OPENJSON(@JsonExtras, '$.statusids')
	SET @countrycodes_cnt = @@ROWCOUNT
END
-- End of getting Extra searching parameters
SELECT 
   E.Id				AS '@Id',
   E.UserID			AS '@UserId',
   E.FirstName		AS '@FirstName',
   E.LastName		AS '@LastName',
   E.DisplayName	AS '@DisplayName',
   E.Email			AS '@Email',
   E.Title			AS '@Title',
   E.JobGradeId		AS '@JobGradeId',
   E.DeptCode		AS '@DeptCode',
   E.CountryCode	AS '@CountryCode',
   E.EmailAlert		AS '@EmailAlert',
   E.IsActive		AS '@IsActive',
   E.CreateBy		AS '@CreateBy',
   E.CreateDate		AS '@CreateDate',
   E.UpdateBy		AS '@UpdateBy',
   E.UpdateDate		AS '@UpdateDate',  
   ( SELECT 
	   M.Id				AS '@Id',
	   M.UserID			AS '@UserId',
	   M.FirstName		AS '@FirstName',
	   M.LastName		AS '@LastName',
	   M.DisplayName	AS '@DisplayName',
	   M.Email			AS '@Email',
	   M.Title			AS '@Title',
	   M.JobGradeId		AS '@JobGradeId',
	   M.DeptCode		AS '@DeptCode',
	   M.CountryCode	AS '@CountryCode',
	   M.ManagerID		AS '@ManagerId'
      FROM Employee M  
      WHERE M.Id = E.ManagerID  
      FOR XML PATH('Manager'), TYPE  
    )
FROM Employee E
WHERE (@Name IS NULL OR (LEN(@name) > 2 AND (CHARINDEX(@Name, E.FirstName)>0 OR 
						CHARINDEX(@Name, E.LastName) > 0 or
						CHARINDEX(@Name, E.DisplayName) > 0 )))
AND (@Title IS NULL OR @Title = E.Title)
AND (ISNULL(@ManagerId, -1) = -1 OR @ManagerId = E.ManagerID)
AND (@CountryCode IS NULL OR @CountryCode = E.CountryCode)
AND (@DeptCode IS NULL OR @DeptCode = E.DeptCode)
AND (@deptcodes_cnt = 0 OR EXISTS (
	SELECT 1 FROM @deptcodes_t X where X.deptcode = E.DeptCode
	)
)
  FOR XML PATH('Employee'), ROOT('ArrayOfEmployee')    

/** TEST **
select * from Employee
Working:
EXEC SPU_Employee_Find  null,  null, NULL, null, null, '{"deptcodes": [707, 724]}'

**/
GO
/****** Object:  StoredProcedure [dbo].[SPU_Employee_Get]    Script Date: 10/9/2021 11:43:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************
* PROCEDURE:    [SPU_Employee_Get]
* DESCRIPTION:  
	Get [Employee] XML record based on Id or UserID(Window User Name)
* CREATED: 10/2021  PCHEN
MODIFICATION HISTORY
*
***********************************************************/
CREATE PROCEDURE [dbo].[SPU_Employee_Get] 
	@Id INT = NULL,
	@UserID VARCHAR(50) = NULL
AS BEGIN
IF (ISNULL(@Id, -1) < 1)
	SELECT @Id = Id FROM Employee WHERE UserID = @UserID

SELECT 
   E.Id				AS '@Id',
   E.UserID			AS '@UserId',
   E.FirstName		AS '@FirstName',
   E.LastName		AS '@LastName',
   E.DisplayName	AS '@DisplayName',
   E.Email			AS '@Email',
   E.Title			AS '@Title',
   E.JobGradeId		AS '@JobGradeId',
   E.DeptCode		AS '@DeptCode',
   E.CountryCode	AS '@CountryCode',
   E.EmailAlert		AS '@EmailAlert',
   E.IsActive		AS '@IsActive',
   E.CreateBy		AS '@CreateBy',
   E.CreateDate		AS '@CreateDate',
   E.UpdateBy		AS '@UpdateBy',
   E.UpdateDate		AS '@UpdateDate',  
   ( SELECT 
	   M.Id				AS '@Id',
	   M.UserID			AS '@UserId',
	   M.FirstName		AS '@FirstName',
	   M.LastName		AS '@LastName',
	   M.DisplayName	AS '@DisplayName',
	   M.Email			AS '@Email',
	   M.Title			AS '@Title',
	   M.JobGradeId		AS '@JobGradeId',
	   M.DeptCode		AS '@DeptCode',
	   M.CountryCode	AS '@CountryCode',
	   M.ManagerID		AS '@ManagerId'
      FROM Employee M  
      WHERE M.Id = E.ManagerID  
      FOR XML PATH('Manager'), TYPE  
    )
FROM Employee E
WHERE E.Id = @Id
FOR XML PATH('Employee')  

END
/* Testing *
exec spu_employee_get null, 'paul.chen'
exec spu_employee_get 32, 'paul.chen'
exec spu_employee_get 32, null
*/
GO
/****** Object:  StoredProcedure [dbo].[SPU_Employee_UpSert]    Script Date: 10/9/2021 11:43:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************
* PROCEDURE:    [SPU_Employee_UpSert]
* DESCRIPTION:  To Insert or Update [Employee] record
*	Need to make sure UserID is not updatable
* CREATED: [10/2021] BY: [PCHEN] 
MODIFICATION HISTORY
*
***********************************************************/
CREATE PROCEDURE [dbo].[SPU_Employee_UpSert] 
	@Id INT = NULL,
	@UserID VARCHAR(50) = NULL,
	@FirstName NVARCHAR(50) = NULL,
	@LastName NVARCHAR(50) = NULL,
	@DisplayName NVARCHAR(200) = NULL,
	@Email VARCHAR(100) = NULL,
	@Title VARCHAR(100) = NULL,
	@JobGradeId INT = NULL,
	@DeptCode VARCHAR(10) = NULL,
	@CountryCode CHAR(3) = NULL,
	@ManagerID INT = NULL,
	@EmailAlert BIT = NULL,
	@IsActive BIT = NULL,
	@By VARCHAR(50)
AS BEGIN
	IF EXISTS(SELECT 1 FROM Employee WHERE Id = ISNULL(@Id, -1)) BEGIN
		UPDATE Employee
		SET FirstName	= ISNULL(@FirstName, FirstName),
		    LastName	= ISNULL(@LastName, LastName),
		    DisplayName = ISNULL(@DisplayName, DisplayName),
		    Email		= ISNULL(@Email, Email),
		    Title		= ISNULL(@Title, Title),
		    JobGradeId	= ISNULL(@JobGradeId, JobGradeId),
		    DeptCode	= ISNULL(@DeptCode, DeptCode),
		    CountryCode = ISNULL(@CountryCode, CountryCode),
		    ManagerID	= ISNULL(@ManagerID, ManagerID),
		    EmailAlert	= ISNULL(@EmailAlert, EmailAlert),
		    IsActive	= ISNULL(@IsActive, IsActive),
			UpdateBy	= @by,
			UpdateDate	= GETUTCDATE()
		WHERE Id = @Id
		IF (@@ROWCOUNT<>1) SELECT @Id = -1
	END
	ELSE BEGIN
		INSERT INTO [dbo].[Employee]
				   ([UserID]
				   ,[FirstName]
				   ,[LastName]
				   ,[DisplayName]
				   ,[Email]
				   ,[Title]
				   ,[JobGradeId]
				   ,[DeptCode]
				   ,[CountryCode]
				   ,[ManagerID]
				   ,[EmailAlert]
				   ,[IsActive]
				   ,[CreateDate]
				   ,[CreateBy]
				   ,[UpdateDate]
				   ,[UpdateBy])
			 VALUES 
				   (@UserID
				   ,@FirstName
				   ,@LastName
				   ,@DisplayName
				   ,@Email
				   ,@Title
				   ,@JobGradeId
				   ,@DeptCode
				   ,@CountryCode
				   ,@ManagerID
				   ,@EmailAlert
				   ,@IsActive
				   ,@By
				   ,GETUTCDATE()
				   ,@By
				   ,GETUTCDATE())
		SELECT @Id = SCOPE_IDENTITY()
	END

	RETURN @Id

END
GO
/****** Object:  StoredProcedure [dbo].[SPU_Project_Find]    Script Date: 10/9/2021 11:43:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************
* PROCEDURE:  [SPU_Project_Find]
* DESCRIPTION:  Find Projects based on searching tokens
* CREATED: [10/2021]
* BY: [PCHEN] 
MODIFICATION HISTORY
* DATE 		BY		DESCRIPTION 
*************************************************************/
CREATE PROCEDURE [dbo].[SPU_Project_Find] 
	@Name NVARCHAR(100) = NULL,
	@PIRNum VARCHAR(20) = NULL,
	@ProjectTypeID INT = -1,
	@StartDate DATE = NULL,
	@EndDate DATE = NULL,
	@ProdDate DATE = NULL,
	@CountryCode CHAR(3) = NULL,
	@JsonExtras NVARCHAR(MAX) = NULL
AS
SET NOCOUNT ON
-- Convert Json Extra parameters into memeory table
/*
DECLARE @JsonExtras NVARCHAR(MAX)
	='{"deptcodes": [723], "statusids":[11,21,31]}';
SELECT 'extra', * FROM OPENJSON(@JsonExtras)
SELECT 'deptcodes', * FROM OPENJSON(@JsonExtras, '$.deptcodes')
SELECT 'statusids', * FROM OPENJSON(@JsonExtras, '$.statusids')

*/
DECLARE @extra TABLE (
	Name nvarchar(4000), 
	Value nvarchar(max), 
	Type tinyint)
DECLARE @deptcodes TABLE (
	deptcode VARCHAR(20));
DECLARE @deptcodes_cnt INT;
DECLARE @statusids TABLE (
	statusid INT)
DECLARE @statusids_cnt INT;

IF (ISJSON(@JsonExtras)>0)
BEGIN
	INSERT INTO @extra (Name, Value, Type)
		SELECT * FROM OPENJSON(@JsonExtras)
	INSERT INTO @deptcodes
		SELECT value FROM OPENJSON(@JsonExtras, '$.deptcodes')
	SET @deptcodes_cnt = @@ROWCOUNT

	INSERT INTO @statusids
		SELECT value FROM OPENJSON(@JsonExtras, '$.statusids')
	SET @statusids_cnt = @@ROWCOUNT
END
-- End of getting Extra searching parameters
SELECT *

FROM Project P
WHERE (@Name IS NULL OR (LEN(@name) > 2 AND (CHARINDEX(@Name, P.Name)>0 OR CHARINDEX(@Name, P.Description) > 0)))
AND (@PIRNum IS NULL OR @PIRNum = P.PIRNum)
AND (@ProjectTypeID = -1 OR @ProjectTypeID = P.TypeID)
AND (@StartDate IS NULL OR @StartDate >ISNULL(P.StartDate, '9/9/9999') )
AND (@EndDate IS NULL OR @EndDate < ISNULL(EndDate, '9/9/9999') )
AND (@ProdDate IS NULL OR @ProdDate >ISNULL(P.ProdDate, '9/9/9999') )
AND (@CountryCode IS NULL OR @CountryCode = P.CountryCode)
AND (@statusids_cnt = 0 OR EXISTS (
	SELECT 1 FROM @statusids A WHERE A.statusid = P.StatusId
))
AND (@deptcodes_cnt = 0 OR EXISTS (
	SELECT 1 FROM ProjectTeam PT JOIN Team T ON PT.TeamID = T.Id
	WHERE PT.ProjectID = P.Id
	)
)

GO
